<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated story -->
      <category
            id="org.nasdanika"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.nasdanika.story.presentation.StoryModelWizardID"
            name="%_UI_StoryModelWizard_label"
            class="org.nasdanika.story.presentation.StoryModelWizard"
            category="org.nasdanika"
            icon="icons/full/obj16/StoryModelFile.gif">
         <description>%_UI_StoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated story -->
      <editor
            id="org.nasdanika.story.presentation.StoryEditorID"
            name="%_UI_StoryEditor_label"
            icon="icons/full/obj16/StoryModelFile.gif"
            extensions="nasdanika_story"
            class="org.nasdanika.story.presentation.StoryEditor"
            contributorClass="org.nasdanika.story.presentation.StoryActionBarContributor">
      </editor>
   </extension>
</plugin>
