<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated security -->
      <category
            id="org.nasdanika.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.nasdanika.cdo.security.presentation.SecurityModelWizardID"
            name="%_UI_SecurityModelWizard_label"
            class="org.nasdanika.cdo.security.presentation.SecurityModelWizard"
            category="org.nasdanika.Wizard.category.ID"
            icon="icons/full/obj16/SecurityModelFile.gif">
         <description>%_UI_SecurityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated security -->
      <editor
            id="org.nasdanika.cdo.security.presentation.SecurityEditorID"
            name="%_UI_SecurityEditor_label"
            icon="icons/full/obj16/SecurityModelFile.gif"
            extensions="nasdanika_cdo_security"
            class="org.nasdanika.cdo.security.presentation.SecurityEditor"
            contributorClass="org.nasdanika.cdo.security.presentation.SecurityActionBarContributor">
      </editor>
   </extension>

</plugin>
