<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="results" name="WebTest Results Model" schema="schema/results.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="urn:org.nasdanika.webtest.model"
            class="org.nasdanika.webtest.model.ModelPackage"
            genModel="model/model.genmodel"/>
   </extension>

</plugin>
