<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.nasdanika.web.route">
      <object_route
            class="org.nasdanika.cdo.web.routes.CDOViewRoute"
            method="GET"
            target="org.eclipse.emf.cdo.view.CDOView">
      </object_route>
      <object_route
            class="org.nasdanika.cdo.web.routes.CDOTransactionRoute"
            method="*"
            target="org.eclipse.emf.cdo.transaction.CDOTransaction">
      </object_route>
      <object_route
            class="org.nasdanika.cdo.web.routes.CDOPackageRegistryRoute"
            method="GET"
            target="org.eclipse.emf.cdo.common.model.CDOPackageRegistry">
      </object_route>
      <object_route
            class="org.nasdanika.cdo.web.routes.EPackageRoute"
            method="GET"
            target="org.eclipse.emf.ecore.EPackage">
      </object_route>
      <object_route
            class="org.nasdanika.cdo.web.routes.CDOResourceFolderRoute"
            method="*"
            target="org.eclipse.emf.cdo.eresource.CDOResourceFolder">
      </object_route>
      <object_route
            class="org.nasdanika.cdo.web.routes.CDOResourceRoute"
            method="*"
            target="org.eclipse.emf.cdo.eresource.CDOResource">
      </object_route>
      <extension_route
            class="org.nasdanika.cdo.web.routes.CDOViewJsonExtensionRoute"
            extension="json"
            method="GET"
            target="org.eclipse.emf.cdo.view.CDOView">
      </extension_route>
      <extension_route
            class="org.nasdanika.cdo.web.routes.HtmlExtensionGetRoute"
            extension="html"
            method="GET"
            target="java.lang.Object">
      </extension_route>
      <object_route
            class="org.nasdanika.cdo.web.routes.EObjectRoute"
            method="*"
            target="org.eclipse.emf.ecore.EObject">
      </object_route>
      <object_route
            class="org.nasdanika.cdo.web.routes.EReferenceClosureRoute"
            method="*"
            target="org.nasdanika.cdo.EReferenceClosure">
      </object_route>
      <object_route
            class="org.nasdanika.cdo.web.routes.EAttributeClosureRoute"
            method="*"
            target="org.nasdanika.cdo.EAttributeClosure">
      </object_route>
      <extension_route
            class="org.nasdanika.cdo.web.routes.EObjectXMIExportRoute"
            extension="xml"
            method="GET"
            target="org.eclipse.emf.ecore.EObject">
      </extension_route>
      <object_route
            class="org.nasdanika.cdo.web.routes.EOperationClosureRoute"
            method="*"
            target="org.nasdanika.cdo.EOperationClosure">
      </object_route>
      
   </extension>
   <extension
         point="org.nasdanika.core.convert">
      <converter
            class="org.nasdanika.cdo.convert.EObjectToJSONObjectConverter"
            source="org.eclipse.emf.ecore.EObject"
            target="org.json.JSONObject">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.CDOViewToHTMLRendererConverter"
            source="org.eclipse.emf.cdo.view.CDOView"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.CDOResourceToHTMLRendererConverter"
            source="org.eclipse.emf.cdo.eresource.CDOResource"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.CDOResourceFolderToHTMLRendererConverter"
            source="org.eclipse.emf.cdo.eresource.CDOResourceFolder"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.EObjectToHTMLRendererConverter"
            source="org.eclipse.emf.ecore.EObject"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.EPackageToHTMLRendererConverter"
            source="org.eclipse.emf.ecore.EPackage"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.ENamedElementToHTMLRendererConverter"
            source="org.eclipse.emf.ecore.ENamedElement"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.EStructuralFeatureToHTMLRendererConverter"
            source="org.eclipse.emf.ecore.EStructuralFeature"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.EReferenceClosureToHTMLRendererConverter"
            source="org.nasdanika.cdo.EReferenceClosure"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.EAttributeClosureToHTMLRendererConverter"
            source="org.nasdanika.cdo.EAttributeClosure"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
   </extension>
   <extension
         point="org.nasdanika.web.object_path_resolver">
      <resolver
            class="org.nasdanika.cdo.web.objectpathresolvers.EObjectPathResolver"
            target="org.eclipse.emf.ecore.EObject">
      </resolver>
      <resolver
            class="org.nasdanika.cdo.web.objectpathresolvers.CDOResourcePathResolver"
            target="org.eclipse.emf.cdo.eresource.CDOResource">
      </resolver>
      <resolver
            class="org.nasdanika.cdo.web.objectpathresolvers.EPackagePathResolver"
            target="org.eclipse.emf.ecore.EPackage">
      </resolver>
      <resolver
            class="org.nasdanika.cdo.web.objectpathresolvers.EClassifierPathResolver"
            target="org.eclipse.emf.ecore.EClassifier">
      </resolver>
      <resolver
            class="org.nasdanika.cdo.web.objectpathresolvers.EStructuralFeatureClosurePathResolver"
            target="org.nasdanika.cdo.EStructuralFeatureClosure">
      </resolver>
      <resolver
            class="org.nasdanika.cdo.web.objectpathresolvers.EOperationClosurePathResolver"
            target="org.nasdanika.cdo.EOperationClosure">
      </resolver>
   </extension>
   <extension
         point="org.nasdanika.core.security">
      <authorization_provider
            class="org.nasdanika.cdo.CDOViewContextAuthorizationProvider">
      </authorization_provider>
   </extension>

</plugin>
