<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="validator" name="EObject validator" schema="schema/validator.exsd"/>
   <extension
         point="org.nasdanika.core.convert">
      <!--   
      <converter
            class="org.nasdanika.cdo.convert.EObjectToJSONObjectConverter"
            source="org.eclipse.emf.ecore.EObject"
            target="org.json.JSONObject">
      </converter>
      -->
   </extension>
   <extension
         point="org.nasdanika.core.security">
      <authorization_provider
            class="org.nasdanika.cdo.CDOViewContextAuthorizationProvider">
      </authorization_provider>
   </extension>

</plugin>
