<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="security_policy" name="Security Policy" schema="schema/security_policy.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated security -->
      <package
            uri="urn:org.nasdanika.cdo.security"
            class="org.nasdanika.cdo.security.SecurityPackage"
            genModel="model/security.genmodel"/>
   </extension>

</plugin>
