<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated boxing -->
      <package
            uri="urn:org.nasdanika.cdo.boxing"
            class="org.nasdanika.cdo.boxing.BoxingPackage"
            genModel="model/boxing.genmodel"/>
   </extension>
   <extension
         point="org.nasdanika.core.convert">
      <converter_provider
            class="org.nasdanika.cdo.boxing.impl.Converters">
      </converter_provider>
   </extension>

</plugin>
