<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegen -->
      <package
            uri="urn:org.nasdanika.codegen"
            class="org.nasdanika.codegen.CodegenPackage"
            genModel="model/codegen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegen -->
      <package
            uri="urn:org.nasdanika.codegen.java"
            class="org.nasdanika.codegen.java.JavaPackage"
            genModel="model/codegen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegen -->
      <package
            uri="urn:org.nasdanika.codegen.maven"
            class="org.nasdanika.codegen.maven.MavenPackage"
            genModel="model/codegen.genmodel"/>
   </extension>

</plugin>
