<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="extensions" name="Documentation extensions" schema="schema/extensions.exsd"/>
   <extension
         point="org.nasdanika.cdo.web.doc.extensions">
      <wiki-link-renderer
            class="org.nasdanika.cdo.web.doc.LightboxWikiLinkRenderer"
            name="image">
      </wiki-link-renderer>
      <content-filter
            class="org.nasdanika.cdo.web.doc.TextContentFilter"
            source-type="text/plain"
            target-type="text/html">
      </content-filter>
      <content-filter
            class="org.nasdanika.cdo.web.doc.MarkdownContentFilter"
            source-type="text/markdown"
            target-type="text/html">
      </content-filter>
      <wiki-link-resolver
            class="org.nasdanika.cdo.web.doc.ECoreGlobalResolver"
            name="global">
      </wiki-link-resolver>
      <wiki-link-resolver
            class="org.nasdanika.cdo.web.doc.ECoreSessionResolver"
            name="session">
      </wiki-link-resolver>
   </extension>

</plugin>
