<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sca -->
      <package
            uri="urn:org.nasdanika.cdo.sca"
            class="org.nasdanika.cdo.sca.ScaPackage"
            genModel="model/sca.genmodel"/>
   </extension>

</plugin>
