<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="renderer" name="EObject renderer" schema="schema/renderer.exsd"/>
   <extension
         point="org.nasdanika.web.route">
 
      <object-route
            class="org.nasdanika.cdo.web.routes.EObjectRoute"
            method="*"
            target="org.eclipse.emf.ecore.EObject">
      </object-route>
      <object-route
            class="org.nasdanika.cdo.web.routes.ResourceRoute"
            method="*"
            target="org.eclipse.emf.ecore.resource.Resource">
      </object-route>
      
   </extension>
   <extension
         point="org.nasdanika.core.convert">
      <converter
            class="org.nasdanika.cdo.web.html.CDOViewToHTMLRendererConverter"
            source="org.eclipse.emf.cdo.view.CDOView"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.CDOResourceToHTMLRendererConverter"
            source="org.eclipse.emf.cdo.eresource.CDOResource"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.CDOResourceFolderToHTMLRendererConverter"
            source="org.eclipse.emf.cdo.eresource.CDOResourceFolder"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.EObjectToHTMLRendererConverter"
            source="org.eclipse.emf.ecore.EObject"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.EPackageToHTMLRendererConverter"
            source="org.eclipse.emf.ecore.EPackage"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.ENamedElementToHTMLRendererConverter"
            source="org.eclipse.emf.ecore.ENamedElement"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.EStructuralFeatureToHTMLRendererConverter"
            source="org.eclipse.emf.ecore.EStructuralFeature"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.EReferenceClosureToHTMLRendererConverter"
            source="org.nasdanika.cdo.EReferenceClosure"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.cdo.web.html.EAttributeClosureToHTMLRendererConverter"
            source="org.nasdanika.cdo.EAttributeClosure"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
   </extension>
   <extension
         point="org.nasdanika.web.object_path_resolver">
      <resolver
            class="org.nasdanika.cdo.web.objectpathresolvers.EObjectPathResolver"
            target="org.eclipse.emf.ecore.EObject">
      </resolver>
      <resolver
            class="org.nasdanika.cdo.web.objectpathresolvers.CDOResourcePathResolver"
            target="org.eclipse.emf.cdo.eresource.CDOResource">
      </resolver>
   </extension>
   <extension
         point="org.nasdanika.toc">
      <toc
            linkTo="org.nasdanika.web/web"
            name="Web">
         <topic
               id="cdo"
               location="doc/cdo.web.md"
               name="CDO">
            <topic
                  location="doc/javascriptApi.md"
                  name="JavaScript API">
            </topic>
            <topic
                  location="doc/routes.md"
                  name="Routes">
               <topic
                     location="doc/routeExtensions.md"
                     name="Extensions">
                  <topic
                        location="doc/resourceRouteExtensions.md"
                        name="Resource routes">
                  </topic>
               </topic>
               <topic
                     location="doc/routeOperations.md"
                     name="Operations">
               </topic>
               <topic
                     location="doc/routeServices.md"
                     name="Services">
               </topic>
            </topic>
            <topic
                  location="doc/forms.md"
                  name="Forms">
            </topic>
            <topic
                  location="doc/application-rendering.md"
                  name="Application rendering">
            </topic>
         </topic>
      </toc>
   </extension>

</plugin>
