<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated performance -->
      <package
            uri="urn:org.nasdanika.webtest.performance"
            class="org.nasdanika.webtest.performance.PerformancePackage"
            genModel="model/performance.genmodel"/>
   </extension>

</plugin>
