<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="model" name="Nasdanika Story" schema="schema/model.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated story -->
      <package
            uri="urn:org.nasdanika.story"
            class="org.nasdanika.story.StoryPackage"
            genModel="model/story.genmodel"/>
   </extension>

</plugin>
