<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="route" name="Route Definitions" schema="schema/route.exsd"/>
   <extension-point id="html_factory" name="HTML Factory" schema="schema/html_factory.exsd"/>
   <extension-point id="object_path_resolver" name="Object Path Resolver" schema="schema/object_path_resolver.exsd"/>
   <extension-point id="ui_part" name="UI Part" schema="schema/ui_part.exsd"/>
   <extension
         point="org.nasdanika.core.convert">
      <converter
            class="org.nasdanika.web.html.convert.Array"
            source="java.lang.Object"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.web.html.convert.Map"
            source="java.util.Map"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
      <converter
            class="org.nasdanika.web.html.convert.Iterable"
            source="java.lang.Iterable"
            target="org.nasdanika.web.html.HTMLRenderer">
      </converter>
   </extension>
   <extension
         point="org.nasdanika.web.route">
      <object-route
            class="org.nasdanika.web.routes.ObjectRoute"
            method="*"
            target="java.lang.Object">
      </object-route>
      <object-route
            class="org.nasdanika.web.routes.MapRoute"
            method="*"
            target="java.util.Map">
      </object-route>
      <object-route
            class="org.nasdanika.web.routes.ListRoute"
            method="*"
            target="java.util.List">
      </object-route>
   </extension>
   <extension
         point="org.nasdanika.toc">
      <toc
            linkTo="org.nasdanika.core/credits"
            name="Credits">
         <topic
               name="Web">
            <markdown><![CDATA[
               ``org.nasdanika.web`` bundle uses the following open source artifacts:

* ``mime.types`` from Apache 2.4.x branch - http://svn.apache.org/viewvc/httpd/httpd/branches/2.4.x/docs/conf/mime.types?revision=1305131&view=co
            ]]></markdown>
         </topic>
      </toc>
      <toc
            linkTo="org.nasdanika.core/server"
            name="Nasdanika Foundation Server">
         <topic
               location="doc/html.md"
               name="HTML">
         </topic>
         <topic
               id="web"
               name="Web">
         </topic>
      </toc>
   </extension>
</plugin>
