<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="org.nasdanika.server" sequenceNumber="56">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="8.1.16.201409082153"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-8.x"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="javax.transaction" version="1.1.1.v201105210645"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="slf4j.simple" version="1.7.6"/>
<unit id="slf4j.api" version="1.7.6"/>
<repository location="http://www.nasdanika.org/slf4j"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.apache.commons.lang3" version="3.3.2"/>
<unit id="org.mozilla.rhino" version="1.0.0.7R5"/>
<unit id="com.github.dblock.waffle.jetty" version="1.7.3"/>
<unit id="com.github.dblock.waffle.jna" version="1.7.3"/>
<unit id="com.google.guava" version="18.0.0"/>
<unit id="slf4j.simple" version="1.7.6"/>
<unit id="com.sun.jna" version="4.1.0"/>
<unit id="com.sun.jna.platform" version="4.1.0"/>
<repository location="http://www.nasdanika.org/maven-osgi"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.nasdanika.third-party.feature.feature.group" version="0.1.0.201502281758"/>
<repository location="http://www.nasdanika.org/third-party/org.nasdanika.third-party.repository/target/repository"/>
</location>
</locations>
</target>
