<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="org.nasdanika.server" sequenceNumber="122">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="slf4j.api" version="1.7.6"/>
<unit id="slf4j.simple" version="1.7.6"/>
<repository location="http://www.nasdanika.org/slf4j"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="9.4.10.201805070144"/>
<unit id="org.eclipse.jetty.bundles.f.source.feature.group" version="9.4.10.201805070144"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="javax.transaction" version="1.1.1.v201105210645"/>
<unit id="javax.transaction.source" version="1.1.1.v201105210645"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180606145124/repository/"/>
</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
		<unit id="net.sourceforge.plantuml" version="1.2018.11"/>
		<unit id="org.apache.aries.util" version="1.0.0"/>
		<unit id="org.apache.commons.jxpath" version="1.3.0"/>
		<unit id="org.objectweb.asm.all.debug" version="5.0.3"/>
		<repository location="http://www.nasdanika.org/products/maven-osgi/repository"/>
		<unit id="org.apache.aries.spifly.core-internal" version="1.0.12"/>
		<unit id="org.apache.aries.spifly.dynamic.bundle" version="1.0.12"/>
		<unit id="org.apache.aries.spifly.weaver-internal" version="1.0.12"/>
		<unit id="org.apache.commons.lang3" version="3.7.0"/>
		<unit id="org.apache.commons.text" version="1.4.0"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
		<unit id="org.nasdanika.third-party.feature.feature.group" version="0.1.0.201809230710"/>
		<repository location="https://www.nasdanika.org/products/third-party/repository"/>
	</location>
</locations>
</target>